<mat-nav-list>
  @for (section of sections; track section.title ?? 'main') {
    @if (sectionHasVisibleItems(section)) {
      @if (section.title) {
        <div mat-subheader>{{ section.title }}</div>
      }
      @for (item of section.items; track item.path) {
        @if (auth.hasModule(item.module)) {
          <a mat-list-item [routerLink]="item.path" routerLinkActive="active">
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            <span matListItemTitle>{{ item.label }}</span>
          </a>
        }
      }
    }
  }
</mat-nav-list>
